@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@600&family=Playfair+Display:wght@400;600&family=Handlee&display=swap');

body {
  color: rgb(75,69,149)
}

.heading-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.subheading-font {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

.content-font {
  font-family: "Handlee";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.cursive-font {
  font-family: 'Cedarville Cursive', cursive;
}
